@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.SignUp {
  @include layout_page_size;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color_red_primary;

  &__fadeContainer {
    width: 100%;
    max-width: 1280px;
    height: 100%;
  }

  &__main {
    height: 100%;
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}