
@keyframes pulse {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 1}
}

.Loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    height: 5vmax;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}