@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.Login {
  @include layout_page_size;
  background-color: $color_red_primary;

  &__main {
    display: flex;
    justify-content: center;
    padding: 10vmin 0;
  }
}