@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.Home {
  @include layout_page_size;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__fadeContainer {
    width: 100%;
    max-width: 1280px;
  }

  &__main {
    height: 80vmin;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    text-align: center;
    position: relative;
    z-index: 10;
  }

  &__subheading {
    margin-top: 1rem;
    color: $color_bw_dark;
  }

  &__balloons {
    z-index: 1;
    width: 100%;
    max-width: 60rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}