@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.ItemDetailsActions {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;

  @include desktop {
    justify-content: flex-end;
  }

  &__button {
    margin-bottom: .5rem;
    margin-right: .5rem;
    padding: .4rem 1.5rem;
    border: none;
    border-radius: 2rem;
    @include main_font;
    @include font_size_paragraph;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;

    @include desktop {
      margin-bottom: 0;
    }

    @include hover_rise;

    &:focus {
      outline: none;
    }

    &--edit {
      @extend .ItemDetailsActions__button;
      color: $color_blue_primary;
      background-color: $color_yellow_primary;
    }

    &--claim {
      @extend .ItemDetailsActions__button;
      color: $color_blue_primary;
      background-color: $color_yellow_primary;
    }

    &--release {
      @extend .ItemDetailsActions__button;
      color: $color_bw_white;
      background-color: $color_red_primary;
    }

    &--buy {
      @extend .ItemDetailsActions__button;
      color: $color_bw_white;
      background-color: $color_blue_primary;
    }
  }
}