@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.ButtonBack {
  margin-right: .5rem;
  height: 2.5rem;
  width: 2.5rem;
  min-height: 2.5rem;
  min-width: 2.5rem;
  border-radius: 1.5rem;
  border: none;
  background-color: $color_yellow_primary;
  cursor: pointer;
  
  @include hover_grow;

  &:focus {
    outline: none;
  }
  
  @include tablet {
    margin-right: 1rem;
    height: 3rem;
    width: 3rem;
    min-height: 3rem;
    min-width: 3rem;
  }

  &__arrow {
    width: 1.1rem;
    transform: translate(-.05, 0);

    @include tablet {
      width: 1.5rem;
      transform: translate(-.08rem, 0);
    }
  }
}