@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.Header {
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @include tablet {
    padding: 1.5rem 2rem;
  }

  &__login {
    display: none;
    @include typography_link_text;

    @include tablet {
      display:initial;
    }
  }

  &__logout {
    display: none;
    @include typography_link_text;

    @include tablet {
      display:initial;
    }
  }

  &__actions {
    display: none;

    @include tablet {
      display:initial;
    }
  }
}