/* =======
 * COLOURS
 * ======= */
$color_red_primary: #ff5652;
$color_red_light: #ffd8cc;
$color_blue_primary: #223bef;
$color_yellow_primary: #fff41f;
$color_yellow_light: #fcf6e6;
$color_green_primary: #9af49a;
$color_green_dark: #68c168;

$color_bw_white: #fffffe;
$color_bw_light: #bcbcbc;
$color_bw_medium: #8c8c8c;
$color_bw_dark: #313133;

/* ===========
 * MEDIA SIZES
 * =========== */
$media_size_tablet: 680px;
$media_size_desktop: 1080px;