@use "./variables" as *;

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  color: $color_bw_dark;
  background-color: $color_red_light;
}